@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: 'Pacifico', cursive;
  background-image: linear-gradient(antiquewhite, white);
}

.container-fluid {
  background-image: linear-gradient(antiquewhite, white);
}

h3, #kokomo, h5, h1, h2 {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.navbar-dark p {
  color: rgb(41, 41, 41);
}

.navbar-dark h3 {
  font-family: 'Pacifico', cursive;
  color: rgb(41, 41, 41);
}

.navbar-dark {
  background-image: linear-gradient(aqua, antiquewhite);
}

#reserve {
  font-size: 30px
}

#carouselImage {
  height: 42vw;
  width: 100vw;
}

#island {
  font-family: 'Pacifico', cursive;
}

.carousel-caption, .card-header {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Pacifico', cursive;
}

#indexpic {
  height: 400px;
  width: 530px;
  }

#cursive {
  font-family: 'Pacifico', cursive;
}
  
.site-footer {
  background-image: linear-gradient(antiquewhite, white);
  padding: 20px 0;
}

.menu {
  text-align: center;
}

/* .menu:before, .menu:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.menu:before {
  right: 0.5em;
  margin-left: -50%;
}

.menu:after {
  left: 0.1em;
  margin-right: -50%;
} */
